*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* primary color:rgb(49,65,153); */
}
.nav{
    width: 100vw;
    height: 9vh;
    box-sizing: border-box;
    padding-right: 1%;
    padding-left: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
}
.logo{
    height: 100%;
}

.nav-input-container{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.input-icon{
    height: 70%;
}
.nav-input{
    width: 25%;
    height: 100%;
    border: none;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #ccf;
}
.input{
    width: 100%;
    font-size: 9pt;
    border: none;
    margin-left: 2vw;
}
.date-input-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 9pt;
    border-right: 1px solid #ccf;
}

.date{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.guest-container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 9pt;
    align-items: center;
    justify-content: space-around;
}
.member{
    display: flex;
    justify-content: space-around;
}
.input-btn{
    width: 15%;
    height: 100%;
    background-color: rgb(49,65,153);
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #FFF;
}

.nav-link-container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 9pt;
}
.round-card{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 1px 7px rgba(22, 22, 22, 0.2);
    border-radius: 50%;
    background-color: #A2D5F1;
}
.home-img{
    width: 70%;
}
.link-txt{
    margin-left: 3px;
    color: #000;
}
.link-icon{
    width: 66%;
}
.login-link{
    background-image: url("https://cdn-icons-png.flaticon.com/512/747/747376.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


/* /////////////////////////////////////////////// */  
/*                 Header                          */
/* /////////////////////////////////////////////// */

.header{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.anim-header{
    width: 500%;
    height: 60vh;
    display: flex;
    flex-direction: row;

    animation-name: slider;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 5s;
    transition-delay: 20s;
}
.header-img{
    width: 20%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-img:nth-child(1){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(2){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(3){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(4){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(5){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}


@keyframes slider {
   
    10%{
        
        margin-left:-100%;
    }
    20%{
        margin-left:-100%;
    }
    30%{
        margin-left:-200%;
    }
    40%{
        
        margin-left:-200%;
    }
    50%{
        margin-left:-300%;
    }
    
    60%{
        margin-left:-300%;
    }
    70%{
        margin-left:-300%;
    }
    80%{
        margin-left:-400%;
    
    }
    90%{
        margin-left:-400%;
    
    }
    /* 100%{
        margin-left: -500%;
    } */
   
    
    }



/*///////////////////// body ///////////////*/
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    /* padding-left: 5%; */
    align-items: center;
}
.detailing-container{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.sub-headings{
    font-size: 19px;
    font-weight: 600;
    margin-top: 40px;
}

/* /////////////////////////////////////////////// */  
/*                 heading and discription          */
/* /////////////////////////////////////////////// */

.heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-name{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 2vh;
}
.hotel-details{
    font-size: 14px;
    line-height: 3vh;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2vh;
}
.select-btn{
    width: 28%;
    height: 6vh;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(49,65,153,.3);
    border: none;
    border-radius: 3px;
    color: rgb(49,65,153);
}
.fav-icon{
    width: 23%;
    height: 60%;
}

.description{
    width: 100%;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.726);
    line-height: 2vh;
    margin: 2vh 0;
}
.more-des{
    display: none;
}
.view-btn{
    width: 10%;
    font-size: 14px;
    color: rgb(49,65,153);
    border: none;
    background-color: #FFF;
    /* margin-top: 5vh; */
}

/* /////////////////////////////////////////////// */  
/*                 date container                   */
/* /////////////////////////////////////////////// */

.date-container{
    width: 95%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.date-container-child{
    width: 100%;
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 3.5vh;
}
.select-date{
    width: 58%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid #CCF;
}
.select-member{
    width: 38%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.travel{
    font-size: 6pt;
}


/* /////////////////////////////////////////////// */  
/*                 Amenities container             */
/* /////////////////////////////////////////////// */

.amenities-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.amenities-items{
    width: 25%;
    height: 5vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.item{
    margin-left: 5px;
    font-size: 9pt;
}
.icons-amenity{
    width: 20%;
    height: 50%;
}
.main-btn{
    width: 100%;
    height: 6vh;
    color: rgb(49,65,153);
    border: 2px solid rgba(49,65,153,.5);
    background-color: rgba(49, 65, 153, 0.11);
    border-radius: 4px;
    font-weight: 600;
}
.sub-head{
    margin-left: -60vw;
}

/* choose your room */
.choose-room{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-head-room{
    margin-left: -40vw;
}
.selecting-container{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    margin: 3vh 0;
}

.room-details{
    width: 100%;
    height: 40%;
    display: flex;
}
.room-details-child{
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
}

.room-type{
    font-size: 17px;
    font-weight: 600;
}
.room-type-details{
    font-size: 6pt;
}
.room-image{
    width: 40%;
    /* height: 60%; */
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
    background-size: cover;
    border-radius: 3px;
}
.amenities-container-room{
    display: flex;
}
.room-price{
    width: 97%;
    height: 10vh;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 20px;
}
.new-rate{
    width: 10%;
    font-size: 15pt; 
}
.old-rate{
    width: 20%;
    font-size: 10px; 
    text-decoration: line-through; 
}
.room-selection-btn{
    width: 40%;
    height: 5vh;
    border-radius: 4px;
    border: none;
    background-color: rgb(49,65,153);
    color: #FFF;
    font-weight: 600;
}
.select-room-btn{
    color: rgb(49,65,153);
    background-color: white;
    border: 1px solid #96deffea;
}
.amenities-room-items{
    display: flex;
    flex-direction: row;
}

/* Enjoy meals during your stay  */

.meals-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3vh;
}
.meals{
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid #CCF;
    border-radius: 2px;
    margin-bottom: 2vh;
}
.meals-img{
    width: 45%;
    height: 100%;
    background-size: contain;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
}
.food-details{
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    font-weight: 600;
}
.fd-name{
    font-size: 13pt;
}
.fd-rate{
    font-size: 9pt;
}
.food-select{
    display: flex;
    align-items: center;
    font-size: 9pt;
    font-weight: 500;
}
.your-meal{
    margin-left: -10vw;
}
/* room rating */
.sub-rating{
    margin-left: -33vw;
}
.room-rating{
    width: 100%;
    display: flex;
    margin-bottom: 4vh;
}
.current-rating{
    width: 30%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rating-card{
    width: 80%;
    height: 6vh;
    background-color: #0B8301;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.star-icon{
    width: 25%;
    height: 40%;
}
.rating-icons-container{
    width: 60%;
}
.review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;
}
.user-review{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.user-name{
    font-size: 13pt;
    font-weight: 600;
    color: rgb(70, 70, 69);
    margin-bottom: 1vh;
}
.review-dis{
    font-size: 10pt;
    color: #383838;
}

/* price details */

.card-container{
    width: 90%;
    height: 84vh;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.card-parent{
    width: 100%;
    height: 80vh;
}
.card-head{
    width: 100%;
    height: 8vh;
    /* background-image: linear-gradient(to right, rgb(141, 8, 81) , rgb(255, 94, 0)); */
    background-image: linear-gradient(to  right,#170055,#185ADB);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 13pt;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-btn{
    width: 20%;
    height: 4vh;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    background-color: rgba(255,255,255,.4);
}
.card-room-price{
    margin-top: 20px;
    padding-left: 20px;
}
.price-details{
    width: 70%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.card-room-filter{
    width: 95%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 11pt;
    font-weight: 600;
    margin-top: 2vh;
}
.selected-dates{
    width: 45%;
    display: flex;
}
.room-members{
    width: 50%;
}
.date-card{
    width: 100%;
}
.gust-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.room-offers{
    width: 95%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2vh 5%;
}
.checkbox{
    width: 25%;
    font-weight: 600;
}
.more-offer{
    width: 40%;
    height: 4vh;
    background-color: #5ce0f169;
    border-radius: 2px;
    border: 1px solid #3EDBF0;
}
.your-savings{
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 5%;
}
.total-savings{
    font-size: 13pt;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
}
.booking-btn{
    width: 90%;
    height: 6vh;
    border-radius: 4px;
    border: none;
    margin: 2vh 5%;
    color: #fff;
    background-color: rgb(49,65,153);
    font-size: 12pt;
    font-weight: 600;
}


/* oyo similar rooms */

.similar-room-container{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-left: 2.5%;
    margin-bottom: 20vh;
}
.similar-rooms{
    width: 45%;
    height: 30vh;
    box-shadow: 0 3px 5px 0 #0003;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh 0;
}
.similar{
    padding-left: 5%;
}
.room-images{
  width: 100%;
  height: 50%; 
  background-size: contain;
  display: flex;
  align-items: flex-end;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.img-1{
    background-image: url("https://www.amritlife.com/upload/blog/999574645781829568.jpg");
}
.img-2{
    background-image: url("https://static.langimg.com/imagenext/nbtblogs/photo/astro/wp-content/uploads/2018/05/Badroom-640x479.jpg");
}

.similar-room-details{
    width: 90%;
    margin-top: 2vh;
    font-size: 10pt;
   
}
.room-heading{
    font-weight: 600;
}
.similar-room-rating{
    width: 50%;
    height: 30%;
    font-size: 8pt;
    background-color: rgba(255,255,255,.7);
    border: 1px solid white;
    margin-bottom: 4px;
}
.similar-room-price{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}
.similar-room-rate{
    font-size: 12pt;
}
.similar-room-old{
    font-size: 8pt;
    text-decoration: line-through;
}
.similar-off{
    font-size: 10pt;
}

/* footer mobile */
.footer-mobile{
    width: 100%;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #CCF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-item{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 8pt;
}
a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button:hover{
    cursor: pointer;
}


/* /////////////////////////////////////////////// */  
/*               footer desktop                    */
/* /////////////////////////////////////////////// */

.footer-desktop{
    display: none;
}




@media screen and (min-width:640px) and (orientation:landscape) {
    .header{
        height: 85vh;
    }
    .anim-header{
        height: 85vh;
    }
    .sub-headings{
        font-size: 16pt;
    }
    .select-btn{
        width: 17%;
        height: 8vh;
    }
    .description{
        font-size: 9pt;
        line-height: 6vh;
    }
    .date-container{
        height: 30vh;
    }
    .date-container-child{
        height: 20vh;
        line-height: 7vh;
    }
    .icons{
        width: 30px;
        padding: 20px;
    }
    .amenities-items{
        height: 15vh;
    }
    .sub-head{
        margin-left: -68vw;
    }
    .main-btn{
        height: 13vh;
    }
    
    .query-head{
        height: 30vh;
    }
    .sub-head-room{
        margin-left: -60vw;
    }
    .selecting-container{
        height: 55vh;
    }
    .room-details{
        height: 60%;
    }
    .room-details-child{
        padding-left: 20px;
        padding-top: 30px;
    }
    .room-type{
        font-size: 15pt;
    }
    .room-selection-btn{
        height: 10vh;
    }
    .new-rate{
        font-size: 16pt; 
    }
    .room-price{
        margin-top: 10vh;
    }
    .old-rate{
        width: 30%;
        font-size: 11pt; 
    }
    .your-meal{
        margin-left: -40vw;
    }
    .meals{
       width: 45%;
       height: 25vh;
    }

    .sub-rating{
        margin-left: -55vw;
    }
    .room-rating{
        width: 100%;
    }
    .current-rating{
        height: 30vh;
    }
    .rating-card{
        width: 50%;
        height: 12vh;
    }
   
    .rating-icons{
        width: 12%;
        height: 10vh;
    }
    .card-container{
        height: 130vh;
        margin: 10vh 0;
    }
    .card-parent{
        width: 90%;
        height: 120vh;
    }
    .card-head{
        height: 13vh;;
        font-size: 14pt;
    }
    .card-btn{
        width: 15%;
        height: 8vh;
    }
    .card-room-price{
        margin-top: 30px;
    }
    .price-details{
        height: 13vh;
    }
    .card-room-filter{
        height: 25vh;
        font-size: 11pt;
    }
    .room-offers{
        height: 25vh;
    }
    .more-offer{
        width: 30%;
        height: 8vh;
    }
    .booking-btn{
        width: 70%;
        height: 9vh;
        margin: 4vh 15%;
    }
    /* oyo similar rooms */
    .similar-room-container{
        justify-content: space-between;
    }
    .similar-rooms{
        width: 33%;
        height: 69vh;
    }

    .room-images{
    height: 65%; 
    }

    .similar-room-details{
        margin-top: 4vh;
        font-size: 11pt;
    
    }
    .similar-room-rating{
        width: 40%;
        height: 20%;
        font-size: 9pt;
    }
    .similar-room-price{
        height: 8vh;
    }

    .footer-mobile{
        height: 18vh;
    }
    .footer-item{
        width: 18%;
    }
            

}

@media screen and (min-width:720px) {
    .current-rating{
        width: 40%;
        height: 12vh;
    }
    
    .rating-card{
        width: 60%;
        height: 16vh;
    }

}

@media screen and (min-width:1024px) and (orientation:landscape){
    .nav{
        display:inline-flex;
    }
    .header{
        height: 80vh;
    }
    .anim-header{
        height: 100%;
    }
    .header-img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main-container{
        flex-direction: row;

    }
    .detailing-container{
        width: 60%;
        margin-left: 5%;
    }
    .sub-headings{
        font-size: 16pt;
        margin-bottom: 8px;
    }
    .sub-head{
        margin-left: -53vw;
    }
    .sub-head-room{
        margin-left: -48vw;
        margin-bottom: 3vh;
    }
    .date-head{
        margin-left: -2vw;
    }
    .travel{
        font-size: 12pt;
    }
    .your-meal{
        margin-left: -41vw;
        margin-bottom: 3vh;
    }
    .sub-rating{
        margin-left: -100vh;
        margin-bottom: 3vh;
    }

    .hotel-name{
        font-size: 20pt;
    }
    .hotel-details{
        font-size: 13pt;
        line-height: 5vh;
    }
    .select-btn{
        width: 20%;
        font-size: 14pt;
    }
    
    .description{
        font-size: 11pt;
        line-height: 4vh;
    }
    .view-btn{
        width: 5%;
        font-size: 14pt;
    }

    .date-container-child{
        height: 14vh;
        font-size: 14pt;
    }
/* amenities */
    .amenities-container{
        width: 85%;
         height: 20vh;
    }
    .amenities-items{
        width: 25%;
        height: 6vh;

    }
    .icons-amenity{
        width: 18px;
        height: 18px;
    }
    .item{
        font-size: 14pt;
    }
    .main-btn{
        width: 60%;
        height: 8vh;
        margin-left: 15%;
    }
/* oyo room */
    
    .similar{
        padding-left: 10%;
    }
    .selecting-container{
        width: 80%;
        height: 25vh;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-left: -5vw;
    }
    .room-details-child{
        padding-left: 20px;
        padding-top: 20px;
    }
    .room-type-details{
        font-size: 13px;
    }
    .room-image{
        width: 30%;
        margin-left: 10%;
    }
    .room-price{
        margin-top: 1vh;
    }
    .new-rate{
        font-size: 15pt;
    }
    .old-rate{
        font-size: 10pt;
    }
    .room-old-rate{
        width: 55%;
    }
    .room-selection-btn{
        width: 25%;
        height: 6vh;
    }
    .room-heading{
        font-size: 11pt;
    }
/* your meals */
    .meals{
        height: 13vh;
    }
    .meals-container{
        margin-top: 1vh;
    }
    
    .rating-card{
        height: 8vh;
        width: 40%;
    }
    .user-review{
        width: 90%;
    }
    .rating-icons{
        width: 20%;
        height: 6vh;
    } 
    .fd-name{
        font-size: 15pt;
    }
    .fd-rate{
        font-size: 11pt;
    }

    /* card */
    
    .card-container{
        width: 35%;
        height: 100%;
        position: sticky;
        top: 0;
        bottom: 0;
       
    }
    .card-parent{
        width: 75%;
        height: 78vh;
        /* border: .8px solid #CCF; */
        border-radius: 5px;
        box-shadow: -2px 1px 7px rgba(22, 22, 22, 0.333);
    }
    .card-head{
        height: 7vh;
        font-size: 12pt;
    }
    .card-btn{
        width: 20%;
        height: 5vh;
        font-size: 9pt;
    }
    .card-room-price{
        width: 90%;
        justify-content: space-evenly;
    }
    .price-details{
        width: 90%;
        height: 5vh;
        font-size: 14pt;
    }
    .card-room-filter{
        height: 18vh;
        font-size: 13pt;
    }
    .room-offers{
        height: 5vh;
        font-size: 8pt;
    }
    .checkbox{
        font-size: 9pt;
    }
    .more-offer{
        width: 30%;
        height: 4vh;
        font-size: 7pt;
        margin-top: 1vh;
    }
    .your-savings{
        margin-top: 5vh;
    }
    .savings{
        font-size: 13pt;
    }
    .booking-btn{
        width: 90%;
        height: 6vh;
        margin: 4vh 6%;
        font-size: 14pt;
    }
    .current-rating{
        height: 16vh;
    }
    .similar-room-container{
        margin-bottom: 10px;
    }
    .similar-rooms{
        width: 23%;
        height: 50vh;
        align-items: flex-start;
    }
    .room-images{
        background-size: cover;
        background-position: center;
    }
    .similar-room-rating{
        width: 35%;
        height: 20%;
        font-size: 9pt;
        padding-left: 8px;
    }
    .similar-room-price{
        width: 70%;
        height: 5vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2vh;
        align-items: center;
    }
    .similar-room-details{
        margin-left: 8px;
    }
    .similar-room-rate{
        font-size: 18pt;
    }
    .similar-room-old{
        font-size: 12pt;
        text-decoration: line-through;
    }
    .similar-off{
        font-size: 14pt;
    }
    .similar{
        margin-left: -7vw;
    }
    .current-rate{
        font-size: 20pt;
    }

 
    .footer-mobile{
        display:none;
    }
    .footer-desktop{
        display: inline-box;
        width: 100%;
        height: 30vh;
        display: flex;
        background-color: rgb(72, 72, 75);
        padding-bottom: 10vh;
    }
    .footer-download{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer-nav{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer-terms{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .store{
        width: 25%;
        height: 45px;
        border-radius: 2px;
        background-color: black;
        text-decoration: none;
        padding: 2px;
    }
    .nav-child{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 8vh;
    }
    .child{
        display: block;
        align-items: center;
        text-decoration: none;
        color: #FFF;
        font-size:12pt;
    }
    .app-store{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        color: #fff;
        justify-content: space-around;
    }
    
    
}