*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* primary color:rgb(49,65,153); */
}
.nav{
    width: 100vw;
    height: 9vh;
    box-sizing: border-box;
    padding-right: 1%;
    padding-left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: none;
}
.logo{
    height: 100%;
}

.nav-input-container{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
.nav-input{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);;
}
.input-icon{
    height: 70%;
}
.input{
    width: 80%;
    height: 100%;
    font-size: 13px;
    border: none;
}

.nav-search-btn{
    width: 16%;
    height: 100%;
    background-color: #0B8301;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}
.input-btn{
    background-color: transparent;
    color: #FFF;
    font-size: 3vh;
}

.nav-link-container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}
.round-card{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 1px 7px rgba(22, 22, 22, 0.333);
    border-radius: 50%;
}
.glob-img{
    width: 70%;
}
.link-txt{
    margin-left: 3px;
    color: #000;
}
.link-icon{
    width: 66%;
}
.login-link{
    background-image: url("https://cdn-icons-png.flaticon.com/512/747/747376.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


/* /////////////////////////////////////////////// */  
/*                 Header                          */
/* /////////////////////////////////////////////// */

.header{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.anim-header{
    width: 500%;
    height: 60vh;
    display: flex;
    flex-direction: row;

    animation-name: slider;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-delay: 5s;
    transition-delay: 20s;
}
.header-img{
    width: 20%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-img:nth-child(1){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(2){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(3){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(4){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}
.header-img:nth-child(5){
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
}


@keyframes slider {
   
    10%{
        
        margin-left:-100%;
    }
    /* 20%{
        margin-left:-100%;
    } */
    30%{
        margin-left:-200%;
    }
    /* 40%{
        
        margin-left:-200%;
    } */
    50%{
        margin-left:-300%;
    }
    
    /* 60%{
        margin-left:-300%;
    } */
    70%{
        margin-left:-300%;
    }
    /* 80%{
        margin-left:-400%;
    
    } */
    90%{
        margin-left:-400%;
    
    }
    /* 100%{
        margin-left: -500%;
    } */
   
    
    }



/*///////////////////// body ///////////////*/
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-left: 5%;
}
.detailing-container{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.sub-headings{
    font-size: 19px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}
/* /////////////////////////////////////////////// */  
/*                 heading and discription          */
/* /////////////////////////////////////////////// */

.heading{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hotel-name{
    font-size: 25px;
    font-weight: 700;
}
.hotel-details{
    font-size: 14px;
    line-height: 3vh;
    color: rgba(0, 0, 0, 0.5);
}
.select-btn{
    width: 28%;
    height: 6vh;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(49,65,153,.3);
    border: none;
    border-radius: 3px;
    color: rgb(49,65,153);
}
.fav-icon{
    width: 23%;
    height: 60%;
}

.description{
    font-size: 9px;
    color: rgba(0, 0, 0, 0.726);
    line-height: 2vh;
}
.view-btn{
    width: 10%;
    font-size: 14px;
    color: rgb(49,65,153);
    border: none;
    background-color: #FFF;
}

/* /////////////////////////////////////////////// */  
/*                 date container                   */
/* /////////////////////////////////////////////// */

.date-container{
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.date-container-child{
    width: 100%;
    height: 13vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-left: 60%; */
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 13px;
    line-height: 3.5vh;
}
.date-details{
    width: 60%;
}
.icons{
    width: 20px;
    padding: 10px;
}
.user-details{
    width: 30%;
}

/* /////////////////////////////////////////////// */  
/*                 Amenities container             */
/* /////////////////////////////////////////////// */

.amenities-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.amenities-items{
    width: 30%;
    height: 5vh;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.icons-amenity{
    width: 20%;
    height: 50%;
}
.main-btn{
    width: 100%;
    height: 6vh;
    color: rgb(49,65,153);
    border: 2px solid rgba(49,65,153,.5);
    background-color: rgba(49, 65, 153, 0.11);
    border-radius: 4px;
    font-weight: 600;
}
.amenity-btn{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
}
/* /////////////////////////////////////////////// */  
/*                 what is your query             */
/* /////////////////////////////////////////////// */

.query-container{
    width: 100%;
}
.query-head{
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.query-btn{
    font-size: 18px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20vw;
    margin-top: 20px;
}
.msg-icon{
    width: 10%;
    height: 80%;
    padding-right:5vw;
}

/* choose your room */

.selecting-container{
    width: 100%;
    height: 30vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
.room-details{
    width: 100%;
    height: 40%;
    display: flex;
}
.room-details-child{
    width: 60%;
    height: 60%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
}

.room-type{
    font-size: 17px;
    font-weight: 600;
}
.room-type-details{
    font-size: 12px;
}
.room-image{
    width: 40%;
    /* height: 60%; */
    background-image: url("https://images.oyoroomscdn.com/uploads/hotel_image/109276/large/1e487c0c52d8dc9d.jpg");
    background-size: cover;
    border-radius: 3px;
}
.room-price{
    width: 90%;
    height: 10vh;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 20px;
}
.new-rate{
    width: 10%;
    font-size: 20px; 
}
.old-rate{
    width: 20%;
    font-size: 13px; 
    text-decoration: line-through; 
}
.room-selection-btn{
    width: 40%;
    height: 5vh;
    border-radius: 4px;
    border: none;
    background-color: #0B8301;
    color: #FFF;
    font-weight: 600;
}

/* Enjoy meals during your stay  */

.meals-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.meals{
    width: 40%;
    height: 8vh;
    display: flex;
    box-shadow: 0 3px 5px 0 #0003;
    border-radius: 3px;
    margin-bottom: 10px;
}
.meals-img{
    width: 40%;
    height: 8vh;
    background-size: contain;
}
.meals-description{
    width: 60%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    line-height: 4vh;
}
.food{
    font-size: 14px;
}
.food-rate{
    font-size: 11px;
}

/* room rating */

.room-rating{
    width: 100%;
    display: flex;
    margin-bottom: 4vh;
}
.current-rating{
    width: 40%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rating-card{
    width: 80%;
    height: 6vh;
    background-color: #0B8301;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.star-icon{
    width: 25%;
    height: 40%;
}
.rating-icons-container{
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* price details */

.card-container{
    width: 90%;
    height: 84vh;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.card-parent{
    width: 100%;
    height: 80vh;
}
.card-head{
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(to right, rgb(141, 8, 81) , rgb(255, 94, 0));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-btn{
    width: 20%;
    height: 4vh;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    background-color: rgba(255,255,255,.4);
}
.card-room-price{
    margin-top: 20px;
    padding-left: 20px;
}
.price-details{
    width: 70%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.card-room-filter{
    width: 95%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    font-size: 13px;
    font-weight: 600;
    margin-top: 2vh;
}
.room-offers{
    width: 95%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2vh 5%;
}
.checkbox{
    width: 25%;
    font-weight: 600;
}
.more-offer{
    width: 40%;
    height: 4vh;
    background-color: #94fdc0c9;
    border-radius: 2px;
    border: 1px solid #77FC6B;
}
.your-savings{
    width: 100%;
    box-sizing: border-box;
    padding: 1vh 5%;
}
.total-savings{
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
}
.booking-btn{
    width: 90%;
    height: 6vh;
    border-radius: 4px;
    border: none;
    margin: 2vh 5%;
    color: #fff;
    background-color: #0B8301;
    font-size: 15px;
    font-weight: 600;
}


/* oyo similar rooms */

.similar-room-container{
    width: 100%;
    height: 38vh;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.similar-rooms{
    width: 45%;
    height: 30vh;
    box-shadow: 0 3px 5px 0 #0003;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.similar{
    padding-left: 5%;
}
.room-images{
  width: 100%;
  height: 50%; 
  background-size: contain;
  display: flex;
  align-items: flex-end;
}
.img-1{
    background-image: url("https://www.amritlife.com/upload/blog/999574645781829568.jpg");
}
.img-2{
    background-image: url("https://static.langimg.com/imagenext/nbtblogs/photo/astro/wp-content/uploads/2018/05/Badroom-640x479.jpg");
}

.similar-room-details{
    width: 90%;
    margin-top: 2vh;
    font-size: 14px;
   
}
.room-heading{
    font-weight: 600;
}
.similar-room-rating{
    width: 50%;
    height: 30%;
    font-size: 11px;
    background-color: rgba(255,255,255,.7);
    border: 1px solid white;
    margin-bottom: 4px;
}
.similar-room-price{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* footer mobile */
.footer-mobile{
    width: 100%;
    height: 9vh;
    background-color: rgb(193, 243, 212);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer-item{
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}
a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button:hover{
    cursor: pointer;
}


/* /////////////////////////////////////////////// */  
/*               footer desktop                    */
/* /////////////////////////////////////////////// */

.footer-desktop{
    display: none;
}




@media screen and (min-width:640px) and (orientation:landscape) {
    .header{
        height: 85vh;
    }
    .anim-header{
        height: 85vh;
    }
    .sub-headings{
        font-size: 22px;
    }
    .heading{
        height: 80vh;
    }
    .select-btn{
        width: 17%;
        height: 8vh;
    }
    .description{
        font-size: 14px;
        line-height: 5vh;
    }
    .date-container{
        height: 40vh;
    }
    .date-container-child{
        height: 20vh;
        line-height: 7vh;
    }
    .icons{
        width: 30px;
        padding: 20px;
    }
    .amenities-items{
        height: 15vh;
    }
    .main-btn{
        height: 13vh;
    }
    .amenity-btn{
        font-size: 17px;
    }
    .query-head{
        height: 30vh;
    }
    .selecting-container{
        height: 70vh;
    }
    .room-details{
        height: 50%;
    }
    .room-details-child{
        padding-left: 20px;
        padding-top: 30px;
    }
    .room-type{
        font-size: 20px;
    }
    .room-selection-btn{
        height: 10vh;
    }
    .new-rate{
        font-size: 25px; 
    }
    .old-rate{
        width: 30%;
        font-size: 19px; 
    }
    .meals{
        height: 20vh;
    }
    .meals-img{
        width: 50%;
        height: 20vh;
    }
    .meals-description{
        line-height: 8vh;
    }
    .food{
        font-size: 20px;
    }
    .food-rate{
        font-size: 17px;
    }
    .room-rating{
        width: 80%;
    }
    .current-rating{
        height: 30vh;
    }
    .rating-card{
        width: 50%;
        height: 12vh;
    }
    .rating-icons-container{
        height: 20vh;
    }
    .rating-icons{
        width: 12%;
        height: 10vh;
    }
    .card-container{
        height: 120vh;
        margin-top: 10vh;
    }
    .card-parent{
        width: 90%;
        height: 100vh;
    }
    .card-head{
        height: 13vh;;
        font-size: 20px;
    }
    .card-btn{
        width: 15%;
        height: 8vh;
    }
    .card-room-price{
        margin-top: 30px;
    }
    .price-details{
        height: 13vh;
    }
    .card-room-filter{
        height: 15vh;
        font-size: 15px;
    }
    .room-offers{
        height: 20vh;
    }
    .more-offer{
        width: 30%;
        height: 8vh;
    }
    .booking-btn{
        width: 70%;
        height: 9vh;
        margin: 2vh 15%;
    }
    /* oyo similar rooms */

    .similar-room-container{
        height: 85vh;
    }
    .similar-rooms{
        width: 33%;
        height: 69vh;
    }

    .room-images{
    height: 65%; 
    }

    .similar-room-details{
        margin-top: 4vh;
        font-size: 16px;
    
    }
    .similar-room-rating{
        width: 50%;
        height: 25%;
        font-size: 15px;
    }
    .similar-room-price{
        height: 8vh;
    }

    .footer-mobile{
        height: 18vh;
    }
    .footer-item{
        width: 18%;
    }
            

}

@media screen and (min-width:720px) {
    .current-rating{
        width: 40%;
        height: 12vh;
    }
    
    .rating-card{
        width: 60%;
        height: 16vh;
    }
    .rating-icons{
        height: 6vh;
    }
}

@media screen and (min-width:1024px) and (orientation:landscape){
    .nav{
        display:inline-flex;
    }
    .header{
        height: 80vh;
    }
    .anim-header{
        height: 100%;
    }
    .header-img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main-container{
        flex-direction: row;
    }
    .detailing-container{
        width: 60%;
        margin-left: 5%;
    }
    .sub-headings{
        font-size: 23px;
        margin-bottom: 8px;
    }
    .heading{
        height: 55vh;
    }
    .hotel-name{
        font-size: 26px;
    }
    .hotel-details{
        font-size: 20px;
        line-height: 5vh;
    }
    .select-btn{
        width: 20%;
        font-size: 20px;
    }
    
    .description{
        font-size: 15px;
        line-height: 4vh;
    }
    .view-btn{
        width: 5%;
        font-size: 16px;
    }

    .date-container-child{
        font-size: 20px;
    }

    .amenities-items{
        width: 20%;
        height: 7vh;
    }
    .main-btn{
        width: 60%;
        height: 8vh;
        margin-left: 15%;
    }
    .amenity-btn{
        width: 25%;
        font-size: 19px;
        border: none;
        background-color: #FFF;
        margin-left: 0;
    }
    .query-container{
        display: none;
    }

    .similar{
        padding-left: 10%;
    }
    .selecting-container{
        height: 43vh;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .room-details-child{
        padding-left: 20px;
        padding-top: 20px;
    }
    .room-type-details{
        font-size: 13px;
    }
    .room-image{
        width: 30%;
        margin-left: 10%;
    }
    .room-price{
        height: 5vh;
    }
    .new-rate{
        font-size: 25px;
    }
    .old-rate{
        width: 25%;
        font-size: 17px;
    }
    .room-selection-btn{
        width: 25%;
        height: 6vh;
    }
    .room-heading{
        font-size: 25px;
    }


    .meals{
        height: 15vh;
        margin-bottom: 15px;
    }
    .meals-img{
        width: 50%;
        height: 15vh;
    }
    .meals-description{
        width: 50%;
        line-height: 6vh;
    }
    .your-meal{
        margin-bottom: 20px;
    }
    .food{
        font-size: 20px;
    }
    .food-rate{
        font-size: 18px;
    }
    .current-rating{
        height: 23vh;
    }
    
    .rating-card{
        height: 10vh;
    }
    .rating-icons-container{
        height: 20vh;

    }
    .rating-icons{
        width: 20%;
        height: 6vh;
    } 

    /* card */
    
    .card-container{
        width: 40%;
        position: sticky;
        top: 76px;

    }
    .card-parent{
        width: 75%;
        height: 90vh;
    }
    .card-head{
        height: 7vh;
        font-size: 19px;
    }
    .card-btn{
        width: 20%;
        height: 5vh;
    }
    .price-details{
        width: 90%;
        height: 4vh;
        font-size: 18px;
    }
    .card-room-filter{
        font-size: 16px;
    }
    .room-offers{
        height: 17vh;
    }
    .checkbox{
        font-size: 17px;
    }
    .more-offer{
        width: 30%;
        height: 4vh;
        font-size: 12px;
    }
    .your-savings{
        font-size: 2px;
    }
    .savings{
        font-size: 18px;
    }
    .booking-btn{
        width: 88%;
        height: 5vh;
        margin: 4vh 6%;
        font-size: 16px;
    }
    .similar-room-container{
        margin-bottom: 10px;
    }
    .similar-rooms{
        height: 50vh;
        align-items: flex-start;
    }
    .room-images{
        background-size: cover;
        background-position: center;
    }
    .similar-room-rating{
        width: 23%;
        height: 18%;
        font-size: 14px;
        padding-left: 8px;
    }
    .similar-room-price{
        width: 60%;
        height: 5vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2vh;
    }
    .current-rate{
        font-size: 24px;
    }

 
    .footer-mobile{
        display:none;
    }
    .footer-desktop{
        display: inline-box;
        width: 100%;
        height: 30vh;
        display: flex;
        background-color: rgb(72, 72, 75);
        padding-bottom: 10vh;
    }
    .footer-download{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer-nav{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer-terms{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .store{
        width: 25%;
        height: 45px;
        border-radius: 2px;
        background-color: black;
        text-decoration: none;
        padding: 2px;
    }
    .nav-child{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 8vh;
    }
    .child{
        display: block;
        align-items: center;
        text-decoration: none;
        color: #FFF;
        font-size: 14px;
    }
    .app-store{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        color: #fff;
        justify-content: space-around;
    }
    
    
}